@import 'config/normalize';
@import 'config/mixins';
@import 'config/reboot';

@import 'utilites/functional';

body {
  background-color: #f7f7f7;
  letter-spacing: 1px;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

// header
.header {
  background-image: url(../images/Hero.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 380px;
  position: relative;
  >h1{
    color: #fff;
    font-size: 40px;
    letter-spacing: 3.89px;
    padding-top: 90px;
    font-weight: 300;
  }
  .headerMenu{
    padding: 1rem;
    select{
      width: 100%;
      max-width: 452px;
      margin-top: 96px;
      border-radius: 3px;
      background: rgba(255,255,255,0.70);
      border: 3px solid #fff;
      padding: 15px 0 12px 9.5px;
    }
  }
}
// header end

// nav
.nav {
  padding: 0 1rem;
}
.navbar {
  position: relative;
  z-index: 2;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  margin: -2rem auto 0;
  margin-bottom: 30px;
  >.hotArea{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -1rem;
    .hotAreaItem{
      text-align: center;
      border-radius: 5px;
      color: #fff;
      width: 25%;
      padding: 1rem;
      @include media(mobile){
        width: 50%;
      }
      >a{
        display: block;
        &:hover{
          background-color: #c9c3c3;
          color: #00cc99;
        }
      }
    }
  }
}
.hotAreaItem1 a{
  background-color: #8A82CC;
}
.hotAreaItem2 a{
  background-color: #FFA782;
}
.hotAreaItem3 a{
  background-color: #F5D005;
}
.hotAreaItem4 a{
  background-color: #559AC8;
}
// nav end

// content
.content {
  padding: 0 1rem;
}

.title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 36px;
}

.list{
  // border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  @include media(mobile){
    margin-left: 0;
  }
  li{
    width: 50%;
    padding: 0 0 2rem 1rem;
    @include media(mobile){
      width: 100%;
      padding: 0;
      margin-bottom: 36px;
    }
  }
}

.listBox{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  .listBoxImg{
    display: flex;
    height: 155px;
    align-items: flex-end;
    justify-content: space-between;
    background-size: cover;
    background-position: center center;
    color: #fff;
    >h3{
      font-weight: 300;
      padding: 0 0 1rem 1rem;
    }
    >span{
      padding: 0 1rem 1rem 0;
    }
  }
  .listBoxInfo{
    padding: 1rem;
    position: relative;
    >p{
      &:last-of-type{
        margin-bottom: 0;
      }
      margin-bottom: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      >img{
        margin-right: 0.5rem;
        vertical-align: top;
      }
    }

    .free{
      position: absolute;
      right: 24px;
      bottom: 19px;
    }
  }
}

// content end

// line
.line{
  text-align: center;
  .lineItem{
    position: relative;
    border-bottom: 1px dashed #559AC8;
    >a{
      @include positionA(50%,50%);
      transform: translate(-50%,-50%);
    }
  }
}
// line end

// footer
.footer {
  background-color: #559AC8;
  text-align: center;
  color: #fff;
  .source{
    color: #FFD366;
  }
}


// footer end